<h2 class="title">
  הסטטיסטיקות שלי
</h2>

<p class="stat-info">
  כאן תוכל/י לראות את הרווחים שהעברת לתרומה - לאילו אירגונים ועמותות הועברו התרומות, וכמה הועבר לכל אחד מהם. המידע מופיע ב-₪.
</p>

<md-spinner *ngIf="!pieChartData || !pieChartLabels"></md-spinner>

<base-chart *ngIf="pieChartData && pieChartData.length && pieChartLabels && pieChartLabels.length"
            class="chart"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            chartType="pie">
</base-chart>

<div class="no-res"
     *ngIf="(pieChartData && !pieChartData.length) || (pieChartLabels && !pieChartLabels.length)">
  עדיין לא מכרת כלום :(
</div>
