.login-container {
  min-height: calc(100vh - 64px - 130px);
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.login-container md-card {
  width: 30%;
  margin: 50px;
}

form {
  height: 350px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

form * {
  width: 100%;
}

form input[type=submit] {
  width: 100px;
}

.facebook-login {
  background-color: #1565C0;
  width: 100%;
}
