<md-content>

    <div class="first-section text-center">
        <div class="slogan-wrapper">
            <div class="slogan">לתת זה לקבל</div>
            <div class="sub-slogan">
                היו עצמכם. עשו מה שמרגיש נכון. תנו-יד שניה :)
            </div>
        </div>
    </div>

    <div class="jambo-section">
            בואו לבנות איתנו את הכלים לעתיד טוב יותר
    </div>

    <div class="third-section">
        <div class="band-section">
            <div class="band-section-text">
                <div>
                    קהילה. סביבה. אנשים.
                </div>
                <p>
                    לא זורקים את הבגדים הישנים, מוכרים אותם, ואת הכסף תורמים! ביחד נשמור על הסביבה ועל החברה. אז תנו-יד שניה :)
                <p>
                    <a class="alt-link" href="">
                        להרשמה&nbsp;<i class="material-icons">chevron_left</i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="customized-section">
        <div class="customized-section-text">
            <div>
                מותאם לך, ובשבילך
            </div>
            <p>
                הדרך הכי קלה לשמור על הסביבה ולתרום לקהילה. כאן תוכלו למכור את הבגדים הישנים, ולתרום את הכסף לאירגון לבחירתם.
                <br>
                <a href="" class="link">אני רוצה גם!</a>
            </p>
        </div>
        <div class="customized-section-image"></div>
    </div>

    <div class="cards-wrapper">

        <div class="jambo-section">למה אנחנו כאן?</div>

        <md-section layout="row" layout-align="space-around" class="cards-container">

            <md-card flex="30" layout-padding>
                <div class="md-card-image environment-card"></div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">איכות הסביבה</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    אדם מייצר בממוצע כקילו וחצי זבל ביום. הנזקים לסביבה הם אדירים, וביניהם זיהום אוויר, זיהום מקורות מים, תחלואה הנוצרת מאי טיפול נאות באשפה ועוד. בואו נפחית באשפה ונתחיל לתרום את הבגדים שאינם בשימוש. יש מי שישמח להשתמש בהם!
                </md-card-content>
            </md-card>

            <md-card flex="30" layout-padding>
                <div class="md-card-image hands-card"></div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">תרומה לקהילה</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    אנחנו רואים בתרומה לקהילה ערך חשוב ועיקרי. יש מגוון רחב של ארגונים עם מטרות טובות, ואנחנו יודעים שלא לכולם יש זמן להתנדב. אבל אם גם ככה לא תכננו ללבוש שוב את הבגדים, למה לא לתרום חלק מהכסף שקיבלנו עליהם?
                </md-card-content>
            </md-card>

            <md-card flex="30" layout-padding>
                <div class="md-card-image house-card"></div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">יוקר המחיה</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    לא קל לסגור את החודש. על אחת כמה וכמה אם רוצים לשמור על מלתחה מעודכנת. מחיר חולצת מותג יכולה להגיע גם ל-300 ש״ח, כשאת אותה חולצה אפשר להשיג ב10% מהמחיר ביד שניה! תחשבו על זה...
                </md-card-content>
            </md-card>

        </md-section>
    </div>

    <footer layout="row" flex="noshrink">
        <a href="#" class="link">חזור למעלה
            <i class="material-icons">keyboard_arrow_up</i>
        </a>
    </footer>

</md-content>